.quiz-view {
  background: url(./../images/nature.jpg) no-repeat;
  background-size: cover;
  /* use flexbox to vertically and horizontally center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* disable tap zoom */
  touch-action: manipulation;
}

.whole-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}